.passive-income-form input:focus {
    outline: 0;
    box-shadow: none;
}

.passive-income-form input {
    background-color: transparent !important;
    padding: 10px 0 10px 25px !important;
    color: white !important;
    margin-top: 40px;
}

::-webkit-input-placeholder {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.49);
}

:-ms-input-placeholder {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.49);
}

::placeholder {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.49);

}

.passive-income-form form input[type=text] {
    border: 2px solid #DCB2FD;
}

.passive-income-form button {
    margin-left: 0px;
    margin-top: 40px;
}

.passive-income-chart {
    border: 2px solid #DCB2FD;
    border-radius: 10px;
}

.table-title {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
    padding: 26px 0 20px 60px;
}

.border-right {
    border-right: 2px solid #DCB2FD;
}

.border-top {
    border-top: 2px solid #DCB2FD;
}

.border-right {
    border-right: 2px solid #DCB2FD;
}

.borders {
    border: 2px solid #DCB2FD;
}

.mt-40 {
    margin-top: 100px;
}

.f-16 {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.f-700 {
    font-weight: 700;
}

.f-14 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF
}

.pl-60 {
    padding-left: 60px;
    padding-right: 60px;
}

.mh-90 {
    min-height: 90px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-40 {
    padding-bottom: 40px;
}

.f-35 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    color: #DCB2FD;
}

td {
    padding: 1em 0 0 0;
    vertical-align: center;
    background-image: radial-gradient(white 1px, transparent 0px);
    background-size: 8px 8px;
    background-repeat: repeat-x;
    background-position: top 25px center;
}

td span {
    background-color: rgb(22, 22, 52)
}


td:first-child span {
    padding-right: .25em;
}


td:last-child span {
    padding-left: .25em;
}

.ml-30- {
    margin-left: -30px;
}

.pt-30 {
    padding-top: 30px;
}
.pt-20 {
    padding-top: 15px;
}
.f-32 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #DCB2FD;
}

.about-phase p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.lotterySystem{

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 35px;
color: #FFFFFF;
}

.lotteryPrice{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #DCB2FD;
} 
.income{
font-weight: bold;
color: #DCB2FD;
}
@media screen and (max-width:1336px) {

    .table-title,
    .f-35 {
        font-size: 30px;
    }

    .f-32 {
        font-size: 27px;
        line-height: 32px;
    }
}

@media screen and (max-width:1152px) {
    .table-title {
        padding: 20px 0 20px 20px;
    }

    .pl-60 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:1024px) {
    .f-32 {
        font-size: 24px;
        line-height: 30px;
    }
}

@media screen and (max-width:991px) {
    .ml-30- {
        margin-left: 0px;
    }

    .passive-income-form input {
        margin-top: 20px;
        height: 32px;
        padding: 10px 0 10px 10px !important;

    }


    ::-webkit-input-placeholder {
        font-size: 15px;
        line-height: 20px;
    }

    :-ms-input-placeholder {
        font-size: 15px;
        line-height: 20px;
    }

    ::placeholder {
        font-size: 15px;
        line-height: 20px;
    }

    .about-phase p {
        font-size: 17px;
        line-height: 23px;
    }


    .borders {
        border: none;
    }

    .mh-90 {
        min-height: auto;
    }

    .pb-60 {
        padding-bottom: 20px;
    }

    .pb-20 {
        padding-bottom: 20px;
    }
    .pt-30{
        padding-top: 30px;
    }
}

@media screen and (max-width:767px) {
    .border-btn-bg {
        height: 57px;
        min-width: 150px;
    }
    
}

@media screen and (max-width:575px) {
    .about-phase p {
        font-size: 15px;
        line-height: 20px;
    }

    .pb-40 {
        padding-bottom: 20px;
    }

    .f-32 {
        font-size: 19px;
        line-height: 24px;
    }

    .table-title {
        padding: 20px 0 15px 20px;
    }
    .f-16 {
        font-size: 14px;
        line-height: 18px;
    }
    .lotterySystem{
        font-size: 30px;
    }

}

@media screen and (max-width:480px) {
.lotterySystem {
        font-size: 27px;
    }
    .table-title,
    .f-35 {
        font-size: 25px;
        line-height: 30px;
    }
}